.main-container {
    display: flex;
    flex-grow: 1;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.main-center {
    min-height: 700px;
    padding: 5px;
}