.product-container{
    width: 1100px;
    margin: 2rem auto;
}
.product-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: black solid 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 2rem;
}

.card-container {
    width: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}