.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 1100px;
    margin: 0 auto;
}

.edit-wrap {
    margin-top: 2rem;
}

.edit-info-box {
    width: 420px;
    margin-bottom: 1rem;
}

.item-img-container {
    border: gray solid 1px;
    border-radius: 8px;
    width: 420px;
    padding: 10px;
}

.item-img-wrap {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.item-img {
    width: 100px;
    height: 100px;
}

.img-info-box {
    padding: 10px;
    margin-bottom: 1rem;
}

.img-control {
    width: 250px;
}