.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 1100px;
    margin: 0 auto;
}

.upload-wrap {
    margin-top: 2rem;
    width: 600px;
}

.info-box-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.info-box {
    margin-bottom: 1rem;
}

.item-img-wrap {
    border: gray solid 1px;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.add-img {
    margin: 1rem;
}

.img-info-box {
    padding: 10px;
}