.cart-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.cart-list-td {
    text-align: center;
}

.cart-list-item-checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cart-item-warp {
    display: flex;
    align-items: center;
}

.cart-list-item-img {
    margin-right: 1rem;
    width: 100px;
    height: 100px;
}

.cart-list-item-total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}