.cart-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.cart-list-td {
    text-align: center;
    min-width: 120px;
}

.cart-list-label {
    margin-right: 0.5rem;
}

.cart-list-item-checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cart-item-warp {
    display: flex;
    align-items: center;
}

.cart-list-item-img {
    margin-right: 1rem;
    width: 150px;
    object-fit: contain;
}

.cart-item-label {
    margin-right: 1rem;
}

.cart-list-item-total-price, .cart-list-func {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.cart-list-func {
    flex-wrap: wrap;
}