.footer-container{
    background-color: #f5f6f7;
}

.footer-wrap {
    width: 1200px;
    margin: 0 auto;
}

.footer-box {
    display: flex;
    justify-content: center;
}

.footer-box-left, .footer-box-center {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 2rem;
}

.footer-box-left-corp {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.inquiry-box {
    display: flex;
    align-items: center;
}

.inquiry-button {
    height: 40px;
    margin-right: 0.5rem;
}

.inquiry-box-sub {
    display: flex;
    flex-direction: column;
}

.footer-box-right {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.footer-box > span {
    padding-left: 10px;
}

.footer-inner {
    text-align: center;
}

.footer-inner > ul {
    list-style: none;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.corp-icon {
    display: inline-block;
}

.corp-icon::before {
    content: "";
    margin: 0 8px;
}

.icon-img {
    width: 30px;
    height: 30px;
}
.corp-item::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 16px;
    vertical-align: -1px;
    border: 1px solid;
}

.corp-item {
    display: inline-block;
}