.my-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

.my-page-wrap {
    width: 100%;
}

.my-page-main {
    display: flex;
}

.my-page-left {
    border-radius: 8px;
    border: black 1px solid;
}

.my-page-container {
    width: 100%;
    border-radius: 8px;
    border: black 1px solid;
    margin-left: 16px;
}