.my-page-aside {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-page-aside ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.my-page-aside ul li {
    position: relative;
    list-style: none;
}

.logo {
    margin-bottom: 2rem;
}

.aside-item {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.sub-title {
    margin-top: 1rem;
    cursor: pointer;
}

.sub-list {
    font-size: 1rem;
    font-weight: lighter;
    list-style: none;
}

.mylink {
    text-decoration: none;
    color: black;
}

/*.sub-title{*/
/*    font-weight: bold;*/
/*}*/