.profile-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border: #0f5132 solid 3px;
    box-sizing: border-box;
    border-radius: 5%;
}

.ProfileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 원형 테두리 */
    border: 2px solid #000; /* 외곽선 */
    object-fit: cover; /* 이미지를 적절히 조절 */
}

.UserInfoContainer h2 {
    margin-bottom: 10px;
}

.profileItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.InfoItem label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 120px;
}
