.search-container {
    display: flex;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    border: 1px black solid;
    border-radius: 8px;
    height: 70px;
}

.search-form {
    display: flex;
    margin: 0 auto;
}

.search-select {
    width: 150px;
    margin-right: 1rem;
}

.search-bar {
    width: 250px;
    margin-right: 1rem;
}